// Colors
$color-primary: #8B48BF;
$color-primary-light: rgba(139, 72, 191, 0.3);
$color-primary-medium-light: rgba(139, 72, 191, 0.8);
$color-primary-light-blue: #3CDDF3;
$color-blue-dark: #1E1E26;
$color-blue-deep-dark: #232851;
$color-light-grey: #B3B2B7;
$color-white: #fff;
$color-white-20-gray: #f0f0f0;

// Styles resets
html {
  box-sizing: border-box; /*Aplicar correctamente box-sizing*/
  font-size: 62.5%;
}

*,
*::before,
*::after {
  /*Aplicar correctamente box-sizing*/
  box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

// Buttons
.btn_cta {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1.25rem 2.1rem;
  border-radius: 50px;
  text-decoration: none;
  color: $color-white;
  background-color: $color-primary;
  width: 12rem;
  text-align: center;
  transition: all .2s;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    background: $color-primary-medium-light;
  }
}

// Header
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $color-blue-dark;
  height: 50px;
  padding: 0 4rem;
  margin-top: 2rem;
  margin-bottom: 5rem;

  @media (min-width: 767px) {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 6.5rem;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 767px) {
    font-size: 1.6rem;
  }
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;

  @media (min-width: 767px) {
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
    color: $color-white;
    transition: all 0.2s;

    @media (min-width: 767px) {
      color: $color-blue-dark;

      &:hover {
        color: $color-light-grey
      }
    }
  }

}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $color-blue-dark;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 7rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid $color-white;
    height: 4.5rem;
    padding: 1rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    color: $color-white;
    background-color: $color-primary;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid $color-white
  }
}

// Hero - section
.hero {
  text-align: right;
  padding: 0 4rem;

  @media (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 13rem auto;
  }


  &_image_container {
    .hero_image {
      width: 100%;
    }
  }

  &_description {
    @media (min-width: 767px) {
      width: 37rem;
    }

    &_title {
      margin: 4rem 0 2.8rem 0;
      font-size: 3.5rem;
      font-weight: 700;
      color: $color-blue-deep-dark;
      line-height: 4rem;

      @media (min-width: 767px) {
        line-height: 5rem;
      }
    }
    &_text {
      font-size: 1.4rem;
      margin-bottom: 2.8rem;

      @media (min-width: 767px) {
        line-height: 2.5rem;
      }
    }
  }

  &_btn {
    margin-bottom: 4rem;
    font-weight: normal;
  }
}

.header_btn {
  display: none;

  @media (min-width: 767px) {
    display: block;
  }
}

// Whats-different - section
.whats-different {
  background-color: $color-primary-light-blue;
  padding: 4rem 2rem;
  color: #fff;

  @media (min-width: 767px) {
    background: $color-primary;
    display: flex;
    padding: 7rem 12rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &_title {
    font-size: 2.5rem;
    width: 80%;
    margin-bottom: 4rem;

    @media (min-width: 767px) {
      width: 30%;
    margin-bottom: 0;
    }
  }
  &_description {
    font-size: 1.4rem;
    font-weight: 500;
    @media (min-width: 767px) {
      width: 40%;
    }
  }
}

.whats-different.c-1400 {
  max-width: 1300px;
  padding: unset;
}

// perks - section
.bg-gray {
  @media (min-width: 767px) {
    background-color: $color-white-20-gray;
    padding-top: 3rem;
  }
}

.perks {
  font-size: 1.4rem;
  margin: 5rem 0;

  @media (min-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 5rem auto;
    margin-top: 0;
    justify-items: center;
  }


  &_card {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 2;
    margin-top: 2rem;
    padding-left: 4rem;

    @media (min-width: 767px) {
      width: 54rem;
    }

    &_number {
      display: flex;
      justify-content: center;
      background-color: $color-primary-light;
      text-align: center;
      border-radius: 25px 0 0 25px;

      @media (min-width: 767px) {
        background-color:  unset;
      }
    }

    &_title {
      display: flex;
      background-color: $color-primary-light;
      align-items: center;
      padding-left: 1.8rem;
      font-weight: 500;

      @media (min-width: 767px) {
        background-color: unset;
      }
    }

    &_description {
      display: inline;
      grid-column: 1 / -1;
      margin-top: 2rem;
      color: $color-light-grey;
      padding-right: 4rem;
      line-height: 2.3rem;

      @media (min-width: 767px) {
        grid-column: 2 / -1;
        margin-top: 1rem;
        margin-left: 1.7rem;
      }
    }
  }

  &_number {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    color: $color-white;
    font-weight: 700;

    @media (min-width: 767px) {
      width: unset;
    }
  }

  .card_3 {
    @media (min-width: 767px) {
      grid-column: 1 / -1;
      margin: 5rem 30rem;
    }
  }
}

// best-month - section
.best-month {
  padding: 0 2rem;
  font-size: 1.4rem;

  @media (min-width: 767px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  &_title {
    font-size: 3rem;
    text-align: center;
    margin: 8rem 0 1rem 0;

    @media (min-width: 767px) {
      margin-top: 12rem;
    }
  }

  .shadow-box {
    width: 100%;
    height: 4rem;
    background-color: $color-white;
    position: relative;
    top: 32px;
    z-index: 10;
  }

  .player-card_container {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    margin-bottom: 4rem;

    @media (min-width: 767px) {
      overflow-x: unset;
    }
  }


  .player-card {
    position: relative;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    scroll-snap-align: start;
    background-color: $color-white-20-gray;
    padding-right: 4rem;
    padding-bottom: 2rem;

    @media (min-width: 767px) {
      flex: unset;
    }

    &_image {
      display: block;
      position: relative;
      z-index: 100;
    }

    &_title {
      font-weight: 700;
      margin: 2rem 0;
    }

    &_description {
      padding: 0 2rem 0 2rem;
      text-align: center;
      color: $color-light-grey;
    }
  }

  &_btn {
    display: block;
    margin: 0 auto;
  }
}

.bg-light-blue {
  background-color: $color-primary-light-blue;

  @media (min-width: 767px) {
    background-color: $color-primary;
  }
}

// Section - get-know
.get-know {
  text-align: center;
  margin-top: 5.8rem;
  padding: 4rem 0;

  @media (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 5.8rem auto auto auto;
    padding: 4rem 7rem;
  }

  &_title {
    color: $color-white;
    font-size: 3rem;
    margin-bottom: 4rem;
    padding: 0 9rem;

    @media (min-width: 767px) {
      margin-bottom: unset;
      padding: unset;
      width: 34%;
      text-align: left;
    }
  }

  &_btn {
    background: $color-blue-deep-dark;

    @media (min-width: 767px) {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}

.bg-dark-blue {
  background: $color-blue-dark;
}

.footer {
  text-align: center;
  padding: 5rem 4rem;

  @media (min-width: 767px) {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5rem;
  }

  &_form {
    @media (min-width: 767px) {
      grid-column: 3 / 4;
    }

    &-input {
      border: none;
      border-radius: 25px;
      padding: 1rem;
      width: 22rem;
      margin-right: 0.5rem;

      &:focus {
        outline: none;
      }

    }

    &-btn {
      color: $color-white;
      font-weight: 700;
      width: 6rem;
      border: none;
    }
  }

  &_socials {
    display: flex;
    justify-content: space-around;

    @media (min-width: 767px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-content: center;
    }

    a {
      font-size: 1.2rem;
      display: inline-block;

      @media (min-width: 767px) {
        display: block;
        margin-right: 1.5rem;
      }
    }
  }

  &_logo {
    display: block;
    text-align: center;
    margin: 3.5rem auto;

    @media (min-width: 767px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &_copy-right {
    font-size: 1.2rem;
    color: $color-light-grey;

    @media (min-width: 767px) {
      grid-column: 3 / 4;
    }
  }

  &_links-container {
    @media (min-width: 767px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}

.links_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3.5rem 0;
  font-size: 1.2rem;

  li {
    margin-bottom: 1.2rem;

    a {
      text-decoration: none;
      color: $color-white;
      margin-right: 1rem;
    }
  }
}
